@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: 0;
    border: 0;
    font-family: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

:root {
    --hero-font-color: #ffffff;
    --hero-subheader-color: #d6d6d6;
    --bmw-blue: #3369d3;
    --light-color: #ffffff;
    --darker-color: #4e4e4e;
    --error-color: #aa0000;
    --font-primary: "Cairo", sans-serif;
    --font-secondary-mobile: "Roboto", sans-serif;
    --font-secondary-desktop: "Open Sans", sans-serif;
}
